In [70]:
import pandas as pd
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import accuracy_score,confusion_matrix
from sklearn import metrics
from sklearn.model_selection import train_test_split

In [2]:
df=pd.read_csv(r"C:\Users\asmit\Downloads\household_power_consumption\household_power_consumption.txt",sep=";")

C:\Users\asmit\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (2,3,4,5,6,7) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
df.head()

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
0,16/12/2006,17:24:00,4.216,0.418,234.840,18.400,0.000,1.000,17.0
1,16/12/2006,17:25:00,5.360,0.436,233.630,23.000,0.000,1.000,16.0
2,16/12/2006,17:26:00,5.374,0.498,233.290,23.000,0.000,2.000,17.0
3,16/12/2006,17:27:00,5.388,0.502,233.740,23.000,0.000,1.000,17.0
4,16/12/2006,17:28:00,3.666,0.528,235.680,15.800,0.000,1.000,17.0

In [4]:
df1=df.sample(n=1000)

In [5]:
df1.tail()

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
1447789,17/9/2009,03:13:00,0.278,0.092,243.100,1.200,0.000,0.000,0.0
1993303,30/9/2010,23:07:00,1.178,0.000,244.730,4.800,0.000,0.000,0.0
16972,28/12/2006,12:16:00,0.308,0.148,242.550,1.400,0.000,0.000,0.0
824327,11/7/2008,04:11:00,0.176,0.000,239.880,1.000,0.000,0.000,0.0
1475570,6/10/2009,10:14:00,1.342,0.000,241.400,5.400,0.000,0.000,18.0

In [16]:
df1=df1.dropna()

In [17]:
df1["Sub_metering_3"].unique()

array([18.,  0., 17., 19.,  1., 16., 12.,  7., 11., 20., 29., 30., 28.,
       31.,  3.,  2., 10.,  9.,  6.])

In [18]:
df1.describe()

       Sub_metering_3
count      987.000000
mean         6.920973
std          8.627626
min          0.000000
25%          0.000000
50%          1.000000
75%         18.000000
max         31.000000

In [19]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 987 entries, 252726 to 1475570
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Date                   987 non-null    object
 1   Time                   987 non-null    object
 2   Global_active_power    987 non-null    object
 3   Global_reactive_power  987 non-null    object
 4   Voltage                987 non-null    object
 5   Global_intensity       987 non-null    object
 6   Sub_metering_1         987 non-null    object
 7   Sub_metering_2         987 non-null    object
 8   Sub_metering_3         987 non-null    float64
dtypes: float64(1), object(8)
memory usage: 77.1+ KB

In [20]:
df1.isnull().sum()

Date                     0
Time                     0
Global_active_power      0
Global_reactive_power    0
Voltage                  0
Global_intensity         0
Sub_metering_1           0
Sub_metering_2           0
Sub_metering_3           0
dtype: int64

In [26]:
df1.columns

Index(['Date', 'Time', 'Global_active_power', 'Global_reactive_power',
       'Voltage', 'Global_intensity', 'Sub_metering_1', 'Sub_metering_2',
       'Sub_metering_3'],
      dtype='object')

In [28]:
df1.shape

(987, 9)

In [29]:
convert_dict={'Global_active_power':"float64",'Global_reactive_power':"float64",
       'Voltage':"float64", 'Global_intensity':"float64", 'Sub_metering_1':"float64", 'Sub_metering_2':"float64"}
df1=df1.astype(convert_dict)

In [30]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 987 entries, 252726 to 1475570
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Date                   987 non-null    object
 1   Time                   987 non-null    object
 2   Global_active_power    987 non-null    float64
 3   Global_reactive_power  987 non-null    float64
 4   Voltage                987 non-null    float64
 5   Global_intensity       987 non-null    float64
 6   Sub_metering_1         987 non-null    float64
 7   Sub_metering_2         987 non-null    float64
 8   Sub_metering_3         987 non-null    float64
dtypes: float64(7), object(2)
memory usage: 77.1+ KB

In [43]:
X=df1.drop(['Sub_metering_3','Date','Time'],axis=1)

In [44]:
y=df1['Sub_metering_3']

In [45]:
X.shape,y.shape

((987, 6), (987,))

In [46]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.33,random_state=10)

In [47]:
X_train.shape,y_train.shape

((661, 6), (661,))

In [48]:
X_test.shape,y_test.shape

((326, 6), (326,))

##Creating decision treee

In [95]:
Dregressor = DecisionTreeRegressor(random_state=50)

In [97]:
Dregressor.fit(X_train,y_train)

DecisionTreeRegressor(random_state=50)

In [98]:
y_predict=regressor.predict(X_test)

In [99]:
y_predict

array([ 1., 18., 18.,  1., 19.,  0., 18.,  0., 17., 18., 16., 11.,  1.,
        0.,  1.,  0., 18.,  0.,  0.,  1.,  1., 18.,  1.,  0.,  0., 18.,
        0.,  0.,  0.,  0., 18.,  0., 18.,  1.,  0.,  1.,  1., 17.,  0.,
        1.,  0.,  0.,  1.,  1.,  0.,  1., 18., 18., 18., 18., 19.,  1.,
        0.,  1., 18.,  0., 17.,  0.,  0.,  1.,  1.,  0., 18., 19.,  0.,
        1.,  0.,  1.,  0., 17.,  1.,  0., 18.,  0.,  1., 29.,  0., 18.,
        1., 18.,  0.,  0., 19.,  1., 17., 17.,  1.,  1., 18., 17.,  1.,
        0.,  0., 17.,  0.,  0.,  0.,  0.,  0., 18.,  0.,  0.,  0.,  0.,
       18., 17., 17., 17., 12.,  1., 17.,  0.,  1.,  0.,  1.,  1.,  1.,
        0.,  0.,  0.,  1., 17., 18.,  0.,  0.,  1., 17., 10.,  1.,  1.,
        0.,  1.,  1.,  1.,  0.,  1., 18., 17., 17.,  0.,  0., 17.,  0.,
        0.,  0., 18., 17.,  0.,  0.,  0.,  1.,  0.,  0.,  0.,  0.,  0.,
       18.,  0.,  0.,  1.,  0.,  0.,  1.,  0.,  0.,  0.,  0., 19.,  0.,
        0., 19., 17.,  1.,  0., 18., 11., 19., 18., 18.,  0., 29., 17.,
        0., 18.,  1., 17., 18.,  0., 11., 17., 19.,  1.,  1.,  0.,  0.,
        0., 17.,  0.,  0.,  1.,  0.,  1.,  0.,  1., 18., 18., 18., 18.,
       17.,  0.,  0.,  1., 18.,  0., 18., 18., 18.,  0.,  0.,  0., 18.,
       19., 18.,  0., 19.,  0., 18.,  1.,  1., 18., 18., 18.,  1.,  0.,
        0., 19.,  1.,  1.,  0.,  0.,  0.,  0.,  9.,  0., 17.,  1.,  0.,
        0.,  1., 20.,  0., 18.,  0.,  0.,  0.,  0., 11.,  0., 17.,  0.,
        1.,  0., 18.,  0.,  0.,  0.,  0.,  0., 17., 17.,  1.,  0.,  0.,
       18.,  1.,  0., 18.,  0.,  0.,  0.,  0.,  1.,  0., 19.,  0.,  1.,
        0.,  0., 17.,  0., 18.,  1., 17.,  1.,  0., 10.,  0.,  0.,  0.,
       18.,  1.,  1.,  0.,  1.,  0., 19.,  1.,  1., 18.,  0.,  0.,  1.,
       18.,  1.,  1., 19.,  0., 18.,  1.,  0.,  0., 18.,  1.,  0., 18.,
       19.])

In [100]:
accuracy=accuracy_score(y_test,y_predict)*100
accuracy

40.79754601226993

In [101]:
cm = confusion_matrix(y_test,y_predict)
print(cm)

[[75 51  0  0  0  0  1  0  0  2  5  1  0  0  0  0]
 [47 19  0  0  1  0  2  0  0  2  3  1  0  1  0  0]
 [ 1  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0]
 [ 1  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0]
 [ 0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0]
 [ 0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0]
 [ 1  0  0  0  0  0  1  1  0  0  0  0  0  0  0  0]
 [ 0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0]
 [ 1  0  0  0  0  0  0  0  0  2  0  0  0  0  0  0]
 [ 5  1  0  0  0  0  0  0  1  9 15  0  0  0  0  0]
 [ 5  3  0  0  0  2  0  0  0 13 23  6  0  1  0  0]
 [ 3  1  0  0  0  0  0  0  0  1  7  6  1  0  0  0]
 [ 0  0  0  0  0  0  0  0  0  0  0  1  0  0  0  0]
 [ 0  0  0  0  0  0  0  0  0  0  1  0  0  0  0  0]
 [ 0  0  0  0  0  0  0  0  0  1  0  0  0  0  0  0]
 [ 0  0  0  0  0  0  0  0  0  0  1  0  0  0  0  0]]

In [102]:
true_positive=cm[0][0]
false_positive=cm[0][1]
false_negative=cm[1][0]
true_negative=cm[1][1]

In [103]:
Precision=true_positive/(true_positive+false_positive)
Precision

0.5952380952380952

In [104]:
Recall=true_positive/(true_positive+false_negative)
Recall

0.6147540983606558

In [105]:
F1_score=2*(Recall*Precision)/(Recall+Precision)
F1_score

0.6048387096774194

In [106]:
from sklearn.model_selection import GridSearchCV